.projects {
    #saved-notification {
      display: none;
      padding-left: 1em;
    }
  li {
    display: inline;
    padding-left: 1em;
  }
  .new-project {
    a{
      font-size: 5em;
    }
    text-align: center;
    vertical-align: middle;
  }
}
