<div id="content">
  <div class="inner">
    <div id="right">
      <div class="ide">
        <%= form_tag save_path, remote: true, id: 'project-form' do -%>
        <textarea name="code" id="code">
TO spiral
  make "step 0.1
  REPEAT 500 [FD :step RT 5 make "step :step + 0.01]
END
setxy 250 250
spiral
        </textarea>
        <%= hidden_field_tag 'imagedata' -%>
        <% end -%>
      </div>
      <div>
        <input type="button" onClick="run(5,false);" value="run slowly" style="font-weight: bold;"/>
        <input type="button" onClick="run(0,false);" value="run fast"/>
        <input type="button" onClick="saveProject();" value="save project"/>
      </div>
      <div class="stdout">
        <h5>Text Output</h5>
        <div id="textOutput"></div>
      </div>
    </div>
    <div id="left">
      <canvas id="canvas" width="500" height="500">
        Your browser doesn't support canvas tags. Please upgrade to a modern browser.
      </canvas>
      <div id="turtle">
        <embed width="20" height="20" id='sprite' src="turtle.svg"/>
      </div>
    </div>
  </div>
</div>
